<div class="main" ng-show="!loading" ng-class="mainClass">
<div class="content">
<div class="planned-business" ng-if="!!actions && actions.length > 0">
    <div class="box tool" ng-repeat="tool in tools|filter:{is_enabled:true}" ng-controller="tool.controller">
        <a href="#" class="btn-tool-close" ng-click="tool.toggleInstall()"></a>

        <h3 ng-bind="tool.title"></h3>

        <div class="box-holder" ng-include="template">
        </div>
    </div>

    <div ng-repeat="action in actions|filterDelayed:false|orderBy:position" class="box dragbox"
         ng-class="{solving:action.progress, 'box-purpose-digital':vars.action_types[action.action_type_id].tkey!='done'}">
        <h3 ng-class="{important:action.is_important}">{{ action.title }} {{ action.position }}</h3>

        <div class="box-holder">
            <span class="btn-move"></span>

            <div class="progresbar-holder" ng-click="showStatistics=true">
                <div class="progresbar">
                    <span style=" width: {{ action.done / action.repeat_amount * 100 }}%"></span>
                </div>
                <div class="box-note-progres"><span
                        class="btn-note-progres">{{ action.done / action.repeat_amount * 100 }}%</span></div>
            </div>
            <div class="box-content">
                <div class="img-runtime" ng-click="action.changeProgress()" ng-class="{disabled:!action.isExecutable()}"
                     ng-if="vars.action_types[action.action_type_id].tkey=='done'">
                    <div class="img-runtime-holder">
                    <span><img src="/bundles/acmeedela/images/img1.png"/><img
                            src="/bundles/acmeedela/images/img1-performance.png" class="performance"><img
                            src="/bundles/acmeedela/images/img1-hover.png"
                            class="hover"></span>
                    </div>
                </div>

                <div class="img-runtime" ng-if="vars.action_types[action.action_type_id].tkey=='number'">
                    <div class="changeable-placeholder">
                        <strong class="ttl" ng-bind="action.action_type_title"></strong>

                        <div class="input-box">
                            <button type="button" class="btn-minus" ng-disabled="action.progress==0"
                                    ng-click="action.progress=action.progress-1">-
                            </button>
                            <button type="button" class="btn-plus" ng-click="action.progress=action.progress+1">+
                            </button>
                            <input type="text" placeholder="0" ng-model="action.progress"
                                   ng-change="action.changeProgress()">
                        </div>
                    </div>
                </div>

                <div class="img-runtime" ng-if="vars.action_types[action.action_type_id].tkey=='time'">
                    <strong class="ttl" ng-bind="action.action_type_title"></strong>

                    <div class="input-box">
                        <input type="text" class="form-input" placeholder="" ng-model="action.progressHour"
                               ng-change="action.changeProgress()"><span>:</span>
                        <input type="text" class="form-input" placeholder="00" ng-model="action.progressMinute"
                               ng-change="action.changeProgress()"><span>:</span>
                        <input type="text" class="form-input" placeholder="00" ng-model="action.progressSecond"
                               ng-change="action.changeProgress()">
                    </div>
                    <em>15 мин 30 сек</em>
                </div>

                <div class="img-runtime" ng-if="vars.action_types[action.action_type_id].tkey=='text'">
                    <textarea class="text-block" cols="1" rows="1"
                              placeholder="Напишите дополнительную информацию для выполнения ежедневного дела"
                              ng-model="action.progress_note"
                              ng-blur="action.changeProgress()"></textarea>
                </div>

                <div class="row-bottom">
                    <div class="row-content">
                        <ul class="tools">
                            <li ng-if="action.subactions.length && vars.action_types[action.action_type_id].tkey=='done'">
                                <a
                                        href="javascript:void(0)"
                                        ng-click="action.showSubactions=true"
                                        class="open icon-open"></a></li>
                            <li ng-if="action.note && action.note.length > 0"><a href="javascript:void(0)"
                                                                                 ng-click="action.showNotes=true"
                                                                                 class="note icon-uniE611"></a>
                            </li>
                            <li><a href="#" ng-if="false" class="user icon-users"></a></li>
                            <li><a href="#" class="see {% if false %}icon-nosee{% else %}icon-see{% endif %}"></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" ng-click="action.editPopup($event)"
                           class="settings-mission">Настройки</a>
                    </div>
                </div>
            </div>
            <div class="job" ng-if="action.subactions.length" ng-class="{display:action.showSubactions}">
                <div class="heading">
                    <a href="javascript:void(0)" ng-click="action.showSubactions=false"
                       class="btn-close icon-close"></a>
                    Составляющие ({{ (action.subactions|filter:{progress:true}).length }}/<span>{{ action.subactions.length }}</span>)
                </div>
                <div class="list-holder scroll-pane">
                    <ul>
                        <li class="checkbox" ng-repeat="subaction in action.subactions"><input
                                id="id-{{ subaction.id }}"
                                type="checkbox" ng-model="subaction.progress"
                                ng-click="action.executeSub(subaction)">
                            <label for="id-{{ subaction.id }}">
                                <span><span>{{ subaction.title }}</span></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="statistics-runtime" ng-class="{display:showStatistics}">
                <div class="heading">
                    <a class="btn-close-statistics-runtime icon-open" href="javascript:void(0)"
                       ng-click="showStatistics=false"></a>
                    <span>{{ action.done / action.repeat_amount * 100 }}%</span>
                </div>
                <ul>
                    <li><span>{{ action.repeat_amount }}</span>Общее количество</li>
                    <li><span>{{ action.done }}</span>Выполнено</li>
                    <li><span>{{ action.repeat_amount - action.done }}</span>Не выполено</li>
                    <li><span>10.12.2015</span>Дата начала</li>
                    <li><span class="date-end">10.12.2015</span>Дата окончания</li>
                </ul>
            </div>
            <div class="notes-case" ng-class="{display:action.showNotes}">
                <div class="heading">
                    <a href="javascript:void(0)" ng-click="action.showNotes=false" class="btn-close icon-close"></a>
                    Заметка
                </div>
                <div class="notes-case-content scroll-pane">
                    <div class="notes-case-content-text" ng-if="action.note" ng-bind-html="action.note|links"></div>
                </div>
            </div>
        </div>
        <div class="time" style="display: none;">
							<span>
								<a href="#" class="btn-time icon-play"></a>
								<a href="#" class="btn-time icon-pause"></a>
								<a href="#" class="btn-time icon-stop"></a>
								00:00:00
							</span>
        </div>

    </div>

    <div class="box" ng-if="!loading">
        <h3></h3>

        <div class="box-new-daily-deal-holder">
            <div class="box-content box-case">
                <a href="javascript:void(0)" ng-click="display.showNew=true" class="add-case"><span>+ Добавить <br/>ежедневное дело</span></a>
                <a href="#actions/samples?goal={{ goal }}" class="examples-cases">Примеры ежедневных дел</a>
            </div>
            <div class="box-new-daily-deal" ng-class="{display:display.showNew}">
                <form ng-submit="addAction()">
                    <p>Новое ежедневное дело</p>
                    <textarea class="new_action" data-delayed="0" rows="1" cols="1" ng-model="newAction.title"
                              placeholder="Название..."></textarea>

                    <div class="row" style="padding: 0">
                        <button type="submit" class="btn">Добавить</button>
                        <button type="reset" ng-click="display.showNew=false" class="btn btn-white">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<div class="container" ng-if="!actions || actions.length == 0">
    <div class="box">
        <h3></h3>

        <div class="box-new-daily-deal-holder">
            <div class="box-content box-case">
                <a href="javascript:void(0)" ng-click="display.showNew=true" class="add-case"><span>+ Добавить <br/>ежедневное дело</span></a>
                <a href="#actions/samples?goal={{ goal }}" class="examples-cases">Примеры ежедневных дел</a>
            </div>
            <div class="box-new-daily-deal" ng-class="{display:display.showNew}">
                <form ng-submit="addAction()">
                    <p>Новое ежедневное дело</p>
                    <textarea class="new_action" data-delayed="0" rows="1" cols="1" ng-model="newAction.title"
                              placeholder="Название..."></textarea>

                    <div class="row" style="padding: 0">
                        <button type="submit" class="btn">Добавить</button>
                        <button type="reset" ng-click="display.showNew=false" class="btn btn-white">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-text">
        <div class="container-text-holder">
            <h3>Начать</h3>

            <p>
                Добавьте новое ежедневно дело,
                <br> это будет первый шаг к заветной цели!</p>
        </div>
        <div class="note">
            <p>Примеры ежедневны дел — это готовый план действий, в котором подробно и пошагово расписаны все этапы
                к
                достижению цели.</p>

            <p>
                Видео: «<a href="#">Начало работы</a>»
            </p>
        </div>
    </div>
</div>
<div ng-click="gotoStats()" class="progress-bar-holder">
    <div class="progress-bar">
        <span style="width:{{ progress.num | number: 1 }}%"></span>
    </div>
    <span class="note" ng-bind-template="{{ progress.num | number: 1 }}%"></span>
</div>
<div class="container box-add-case add-add-box-add-case">
    <form ng-submit="addTask()">
        <fieldset>
            <div class="row">
                <input type="text" class="form-input" ng-model="newTask.title" placeholder="Добавить новую задачу"/>

                <div class="setting">
                    <button type="button" class="btn-settings icon-settings"></button>
                    <div class="pop-up-setting">
                        <div class="pop-up-setting-content">
                            <a href="javascript:" ng-click="refreshTasks()" class="btn btn-blue">Обновить</a>
                            <a href="#pop-up-history" fancybox class="btn btn-white fancybox">История задач</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn">+ Добавить задачу</button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/ng-template" id="task_renderer.html">
    <button data-action="{{task.expanded ? 'collapse' : 'expand'}}" type="button"
            ng-click="task.expanded=!task.expanded"
            ng-show="(tasks | filter:{ parent: currentTask.id }).length > 0"></button>
    <div class="list-heading">
        <div class="tools-holder">
            <i class="active-today today" ng-if="task.isToday()">Сегодня</i>
										<span class="tools">
			                                        <a href="javascript:"
                                                       ng-click="task.expanded=true; addTask(task, $event)">+
                                                        Подзадача</a>
			                                        <a href="javascript:" ng-click="task.editPopup($event)">Изменить</a>
			                                   </span>
        </div>
        <div class="btn-move" ng-if="false"></div>
        <div class="task-exec" ng-click="task.execute()"></div>
        <strong ng-if="!task.edit"><span ng-bind="task.title"></span> <em ng-if="task.goal_title"
                                                                          ng-bind="task.goal_title"></em>
        </strong>

        <form ng-submit="createSubtask(task)">
            <input type="text" ng-model="task.title" ng-if="task.edit" style="border:none;"
                   ng-blur="createSubtask(task)"/>
        </form>
    </div>
    <ol class="list-calendar" ng-show="task.expanded" ng-model="tasks">
        <li ng-repeat="task in tasks | filter:{ parent: currentTask.id } | orderBy:'created_at':true | orderBy:'done':false"
            class="dd-item"
            ng-include="'task_renderer.html'" ng-class="{important:task.is_important, 'deal-done':task.done}"
            ng-init="currentTask=task || null"></li>
    </ol>
</script>

<div class="dd" id="nestable3">
    <ol ng-model="tasks" class="list-calendar">
        <li ng-repeat="task in tasks | filter:{parent:0} | orderBy:'created_at':true | orderBy:'done':false"
            class="dd-item"
            ng-include="'task_renderer.html'" ng-init="currentTask=task; task.expanded=true"
            ng-class="{important:task.is_important, 'deal-done':task.done}"></li>
    </ol>
</div>

<div class="social-list">
    <h3>Поделиться результатами</h3>

    <div class="social-list-holder">
        <ul>
            <li><a class="vk" href="#">vk</a></li>
            <li><a class="fb" href="#">fb</a></li>
            <li ng-if="false"><a class="google-plus" href="#">google plus</a></li>
            <li><a class="twitter" href="#">twitter</a></li>
            <li ng-if="false"><a class="ok" href="#">ok</a></li>
            <li ng-if="false"><a class="ya" href="#">ya</a></li>
        </ul>
    </div>
</div>
</div>
</div>
<div class="adjournment-proceedings" ng-show="!loading">
    <div class="holder">
        <div class="heading" ng-click="showDelayed=!showDelayed">
            Отложенные дела (<span ng-bind="(actions|filterDelayed:true).length"></span>)
        </div>
        <div class="adjournment-proceedings-content" ng-show="showDelayed">
            <div class="box-holder">
                <div class="box" ng-repeat="action in actions|filterDelayed:true">
                    <h3 ng-class="{important:action.is_important}">{{ action.title }}</h3>

                    <div class="box-content">
                        <span class="play icon-play" ng-click="runDelayed(action)">
                            <span class="tooltip"><span><span><span><span>Начать выполнения</span></span></span></span></span>
                        </span>

                        <div class="row-nav">
                            <a href="javascript:void(0)" class="settings-mission" ng-click="action.editPopup($event)">Настройки</a>
                            <a href="javascript:void(0)" class="mark icon-uniE60F">
                                <span class="tooltip"><span><span><span><span>Назначить дату <br> начать выполнения</span></span></span></span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h3></h3>

                    <div class="box-new-daily-deal-holder">
                        <div class="box-content box-case">
                            <a href="javascript:void(0)" ng-click="display.showNew=true" class="add-case"><span>+ Добавить отложенное<br/>ежедневное дело</span></a>
                            <a href="#actions/samples?goal={{ goal }}" class="examples-cases">Примеры ежедневных дел</a>
                        </div>
                        <div class="box-new-daily-deal" ng-class="{display:display.showNew}">
                            <form ng-submit="addAction(true)">
                                <p>Новое ежедневное дело</p>
                                <textarea class="new_action" data-delayed="1" rows="1" cols="1"
                                          ng-model="newAction.title" placeholder="Название..."></textarea>

                                <div class="row" style="padding: 0">
                                    <button type="submit" class="btn">Добавить</button>
                                    <button type="reset" ng-click="display.showNew=false" class="btn btn-white">Отмена
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none">
    <!-- pop-up-history-problems -->
    <div class="pop-up pop-up-history-problems" id="pop-up-history">
        <div class="heading">
            <h3>История задач</h3>
        </div>
        <div class="box-history-problems">
            <ul>
                <li class="item" ng-repeat="task in doneTasks"><span ng-bind="task.title"></span><em class="date"
                                                                                                     ng-bind="task.date"></em>
                </li>
            </ul>
        </div>
        <div class="history-problems-nav" ng-if="false">
            <a href="#" class="btn-prev">Раньше</a>
            <a href="#" class="btn-next">Позже</a>
        </div>
    </div>
</div>
<div ng-show="showEditPopup" ng-controller="ActionsEditController"
     ng-include="'/bundles/acmeedela/partials/blocks/action-edit-popup.html'"></div>
<div ng-show="showEditPopup" ng-controller="TasksEditController"
     ng-include="'/bundles/acmeedela/partials/blocks/task-edit-popup.html'"></div>
