<div class="main" ng-show="!loading" ng-class="mainClass">


    <div class="content">
        <div class="box-withdrawal">
            <div class="col col1">
                <div class="box box-translate-to-balance">
                    <h2>Перевести на баланс сервиса</h2>
                    <div class="row">
                        <input type="text" class="form-input" placeholder="100 руб.">
                        <div class="col-rating">
                            <span class="rating">200<span class="icon-uniE60D"></span></span>
                            <a class="icon-uniE60A" href="#"></a>
                        </div>
                        <button type="button" class="btn">Пополнить</button>
                    </div>
                </div>
                <div class="box box-withdrawals-money">
                    <h2>Вывести на Яндекс Деньги</h2>
                    <div class="row">
                        <span class="col-label"><label for="account-number">Номер счета</label></span>
                        <input type="text" id="account-number" class="form-input" placeholder="Номер счета">
                        <span class="text">Минимальная сумма для вывода 2000 руб.</span>
                    </div>
                    <div class="row">
                        <span class="col-label"><label for="amount">Сумма</label></span>
                        <input type="text" id="amount" class="form-input" placeholder="2000 руб.">
                        <button type="button" class="btn">Вывести</button>
                    </div>
                </div>
            </div>
            <div class="col col2">
                <h2>История перевода</h2>
                <table class="history-translation">
                    <tr>
                        <td>2000 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>яндекс.деньги</td>
                    </tr>
                    <tr>
                        <td>300 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>баланс сервиса</td>
                    </tr>
                    <tr>
                        <td>2000 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>яндекс.деньги</td>
                    </tr>
                    <tr>
                        <td>300 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>баланс сервиса</td>
                    </tr>
                    <tr>
                        <td>2000 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>яндекс.деньги</td>
                    </tr>
                    <tr>
                        <td>300 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>баланс сервиса</td>
                    </tr>
                    <tr>
                        <td>2000 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>яндекс.деньги</td>
                    </tr>
                    <tr>
                        <td>300 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>баланс сервиса</td>
                    </tr>
                    <tr>
                        <td>2000 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>яндекс.деньги</td>
                    </tr>
                    <tr>
                        <td>300 рублей</td>
                        <td><span class="date">27.02.2012</span><span class="time">14:00</span></td>
                        <td>баланс сервиса</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
