<div class="main" ng-show="!loading" ng-class="mainClass">

    <div class="two-columns add-two-columns">
        <div class="content">
            <h2>Подробней:</h2>
            <div class="list2">
                <ol>
                    <li>Участником партнерской программы может стать любой зарегистрировавшийся в нашем сервисе e-dela.com</li>
                    <li>Нажав кнопку "Начать" и используя промо-код или сгенерированные партнерские ссылки, Вы становитесь участником данной партнерской программы и полностью принимаете все ее правила и условия.</li>
                    <li>Каждый привлеченный Вами клиент получает единоразово бонус в размере 100 рублей на свой счет (после первой оплаты).</li>
                    <li>Когда привлеченный Вами клиент выполняет пополнение своего балансового счета, Вы получаете вознаграждение в размере 20% от суммы его первого и всех последующих платежей.</li>
                    <li>При оплате клиентом дополнительных услуг (в разделе Услуги) вознаграждение не начисляется.</li>
                    <li>Участник партнерской программы обязан предоставлять привлекаемым клиентам достоверную информацию об услугах сервиса e-dela.com</li>
                    <li>Запрещено использовать незаконные способы привлечения клиентов или любое другое искусственное увеличение количества заказов.</li>
                    <li>В случае выявления нарушения любого из пунктов настоящих Правил, начисление вознаграждения не осуществляется.</li>
                    <li>Партнерское вознаграждение можно использовать для оплаты услуг сервиса либо вывести в платежную систему Яндекс.Деньги. Для этого нужно сделать заявку в разделе Вывод средств.
                        <ol>
                            <li>Перевод на баланс счета осуществляется по курсу 1 партнерский рубль = 2 рубля на балансе.</li>
                            <li>Минимальная сумма вывода на Яндекс.Деньги - 2000 руб.</li>
                        </ol>
                    </li>
                    <li>Сервис bm360 не несет ответственности за любые неполадки в работе партнерской программы, простои, ошибки и перебои, а также за любой ущерб, понесенный участником партнерской программы, привлеченным клиентом или третьими лицами в ходе использования данной партнерской программы.</li>
                    <li>Сервис bm360 оставляет за собой право в любой момент в одностороннем порядке изменить условия данной Партнерской программы, а также условия участия в ней.</li>
                    <li>Сервис bm360 оставляет за собой право в любой момент в одностороннем порядке прекратить действие данной Партнерской программы.</li>
                </ol>
            </div>
        </div>
        <aside>
            <div class="box">
                <h3>Коротко о партнерстве:</h3>
                <ol class="list3">
                    <li>Создавайте ссылки и промо-коды</li>
                    <li>Размещайте их на разных площадках</li>
                    <li>С каждого зарегистрировавшегося по ссылке, вы получаете <strong>80%</strong>со всех его оплат</li>
                    <li>Привлеченный вами клиент получает единоразовый бонус 100 руб на баланс <span>(после первого пополнения)</span></li>
                    <li>Полученные деньги можно перевести:
                        <ol>
                            <li>На баланс сервиса <span>(1 руб в партнёрке = 2 руб на балансе)</span></li>
                            <li>На Яндекс.Деньги <span>(минимум – 2000 руб.)</span></li>
                        </ol>
                    </li>
                </ol>
            </div>
        </aside>
    </div>

</div>
