<div class="main" ng-show="!loading" ng-class="mainClass">
    <div class="container"  ng-if="!goals || goals.length == 0">
    <div class="box new_goal_box">
       <div class="box-new-daily-deal-holder new_goal">
            <div class="box-content box-case">
                <a href="javascript:void(0)" ng-click="addGoalPopup()" class="add-case"><span>+ Добавить новую цель</span></a>
                <!-- <a href="#actions/samples?goal={{ goal }}" class="examples-cases">Примеры ежедневных дел</a>-->
            </div>
            <!--<div class="box-new-daily-deal" ng-class="{display:display.showNew}">
                <form name="addGoalForm" ng-submit="addGoal()">
                    <p>Новая цель</p>
                    <textarea class="new_action" data-delayed="0" rows="1" cols="1"  ng-model="newGoal.name"
                              placeholder="Название..."></textarea>

                    <div class="row" style="padding: 0">
                        <button type="submit" class="btn">Добавить</button>
                        <button type="reset" ng-click="display.showNew=false" class="btn btn-white">Отмена</button>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
    <div class="container-text">
        <div class="container-text-holder">
            <h3>Начать</h3>
            <p>
                Добавьте, свою первую цель!</p>
        </div>
    </div>
	</div>
<div class="planned-business" ng-if="goals.length > 0">
	<div class="goal box" ng-class="'goal goal' + goals.length">
    	<div class="goal-holder">
    	    <div class="goal-frame">
    	        <div class="box" ng-repeat="goal in goals">
    	            <img src="/{{ goal.images[0].webPath ? goal.images[0].webPath : 'bundles/acmeedela/images/blankgoal_m.png' }}" style="{{ goal.images[0].webPath ? '' : 'top:20%;' }}"/>
    	            <div class="goal-text">
    	                <div class="goal-text-scroll">
    	                    <p>{{ goal.title }}</p>
    	                </div>
    	                <div class="row">
    	                    <!--<ul class="info">
    	                        <li>Задачи: <span>{{ goal.actions.length }}</span></li>
    	                        <li><i class="icon-users"></i><span>30</span></li>
    	                    </ul>-->
    	                    <a href="javascript:void(0)"  ng-click="goal.editPopup($event)" class="settings">Настройки</a>
    	                </div>
    	            </div>
    	        </div>
    	     <div class="box new_goal_box" ng-if="!loading">
        	 <div class="box-new-daily-deal-holder new_goal">
            <div class="box-content box-case">
                <a href="javascript:void(0)" ng-click="addGoalPopup()" class="add-case"><span>+ Добавить новую цель</span></a>
                <!-- <a href="#actions/samples?goal={{ goal }}" class="examples-cases">Примеры ежедневных дел</a>-->
            </div>
            <!-- <div class="box-new-daily-deal" ng-class="{display:display.showNew}">
                <form name="addGoalForm" ng-submit="addGoal()">
                    <p>Новая цель</p>
                    <textarea class="new_action" data-delayed="0" rows="1" cols="1"  ng-model="newGoal.name"
                              placeholder="Название..."></textarea>

                    <div class="row" style="padding: 0">
                        <button type="submit" class="btn">Добавить</button>
                        <button type="reset" ng-click="display.showNew=false" class="btn btn-white">Отмена</button>
                    </div>
                </form>
            </div> -->
        </div>        
    </div>
    	    </div>
   	 	</div>
	</div>
</div>
</div>
<div ng-show="showEditPopupGoalAdd" ng-controller="GoalsAddController"
     ng-include="'/bundles/acmeedela/partials/blocks/goal-edit-popup.html'"></div>

<div ng-show="showEditPopupGoal" ng-controller="GoalsEditController"
     ng-include="'/bundles/acmeedela/partials/blocks/goal-edit-popup.html'"></div>

<div ng-show="showEditPopup" ng-controller="ActionsEditController"
     ng-include="'/bundles/acmeedela/partials/blocks/action-edit-popup.html'"></div>
     