<div class="row">
    <strong class="logo"><a href="#">E-dela<span></span></a></strong>
    <ul class="user-menu">
        <li><a href="javascript:" class="user">{{ profile.name }}</a>
        <a class="logout" href="../user/logout">&nbsp;</a>
<!--
            <div class="pop-up-user-nav">
                <div class="pop-up-user-nav-content">
                    <ul>
                        <li><a href="../user/logout">Выход</a></li>
                    </ul>
                </div>
            </div>-->
        </li>
    </ul>
    <div class="box-date">
        <ul class="date-nav" ng-if="calendar.enabled">
            <li><a href="javascript:" ng-click="calendar.goYesterday()" class="prev"> < </a></li>
            <li ng-click="calendar.extended=!calendar.extended"><span ng-bind="calendar.date.format('dd mmmm')"></span>
                <em
                        ng-bind-template="({{ calendar.date.format('dddd') }})"></em></li>
            <li><a href="javascript:" ng-click="calendar.goTomorrow()" class="next"> > </a></li>
        </ul>
        <div class="pop-up-calendar" ng-show="calendar.extended">
            <div class="row">
                <a href="#" id="main-calendar-gotocurrent" class="btn btn-white"
                   ng-click="calendar.goToday()">Сегодня</a>
            </div>
            <div>
                <div id="main-calendar" topcalendar ng-model="calendar.date"></div>
            </div>
        </div>
    </div>

</div>

<div class="breadcrumbs-holder" ng-if="breadcrumbsEnabled" ng-mouseleave="menu.search=false"
     ng-mouseenter="menu.search=true">
    <div class="bh1">
        <ul class="breadcrumbs">
            <li ng-repeat="item in breadcrumbs">
                <span ng-if="item.active && !item.click">{{ item.caption }}</span>
                <a ng-if="item.href && !item.active" href="{{ item.href }}">{{ item.caption }}</a>
                <a ng-if="!item.href && item.click" ng-bind="item.caption" ng-class="{active:item.active}"
                   href="javascript:void(0)" ng-click="item.click(item)"></a>
                {{ !item.href && !item.active && !item.click ? item.caption : '' }}{{ item.click }}
            </li>
        </ul>
    </div>
</div>
<div class="pop-up pop-up-notifications limit-exceeded" ng-show="dayoff.popup">
    <div class="heading">
        <a class="btn-close" href="javascript:" ng-click="dayoff.popup=false">close</a>
        <strong>Лимит «Выходной день» исчерпан</strong>
    </div>
    <div class="limit-exceeded-holder">
        <p>Ежемесячно предоставляется о пользование 4 выходных дня, которые нв учитываются статистикой. Лимит в этом
            месяце исчерпан.</p>
        <strong>Вы можете приобрести выходные дни за монеты:</strong>

        <div class="row-money-add">
            <div class="col">
                <span>Я хочу</span>
                <select class="nya-selectpicker" ng-model="dayoff.select" data-container="body"
                        ng-options="option.num for option in dayoff.options">
                </select>
            </div>
            <div class="col">
                <span>Выходных дня это -</span><span class="cost" ng-bind="dayoff.select.amount"></span>
            </div>
        </div>
        <div class="money-row" ng-if="profile.bill >= dayoff.select.amount">
            Средств достаточно
        </div>
        <div class="money-row" ng-if="profile.bill < dayoff.select.amount">
            Недостаточно: <span class="cost" ng-bind="dayoff.select.amount - profile.bill"></span>
        </div>
    </div>
    <div class="btn-holder">
        <button class="btn btn-green" type="button" ng-if="profile.bill >= dayoff.select.amount">Приобрести</button>
        <button class="btn btn-yellow" ng-click="dayoff.recharge()" type="button"
                ng-if="profile.bill < dayoff.select.amount">Пополнить
        </button>
        <button class="btn btn-white" ng-click="dayoff.popup=false" type="button">Отмена</button>
    </div>
</div>
<!-- 
<div class="scroll-up"><a href="javascript:$('body').scrollTop(0);"><i class="fa fa-chevron-up"></i> Наверх</a></div>
 -->