<div class="main" ng-show="!loading" ng-class="mainClass">
  <div class="content">
  <div class="planned-business">
	<div class="goal box">  
	<div class="goal-holder">
    	    <div class="goal-frame">
    	     <div class="box" ng-repeat="topic in topics" style="border:none;width:390px;height:295px;">    	           
       			<h3 style="width:100%;text-align:left;font-weight:bold;">{{ topic.title }}</h3>
       			<div>
       				<object type="application/x-shockwave-flash" data="/uploads/helpimages/{{ topic.text }}" height="256" width="383">
						<param name="movie" value="/uploads/helpimages/{{ topic.text }}">
					</object>       				
       			</div>
       		</div>
       	</div>
    </div>       
  </div>
  </div>
</div>

