/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
web/uploads/goalimages/*
!web/uploads/goalimages/.gitkeep
web/uploads/toolimages/*
!web/uploads/toolimages/.gitkeep
web/uploads/levelimages/*
!web/uploads/levelimages/.gitkeep
web/uploads/sampleimages/*
!web/uploads/sampleimages/.gitkeep
web/uploads/profilephotos/*
!web/uploads/profilephotos/.gitkeep
web/uploads/achievementimages/*
!web/uploads/achievementimages/.gitkeep
web/js/*
web/css/*
ignore
composer.lock