{% extends 'AcmeEdelaBundle::blank.html.twig' %}
{% block content %}
 <div class="box-login box-registration">
        <strong class="logo"><a href="/">E-dela<span></span></a></strong>

        <h1>Регистрация в системе e-dela.</h1>

        <div class="form-holder">
            <div class="box">
<stronf>{{ "registration.check_email"|trans }}</strong>
</div>
</div>
</div>
{% endblock %}