{% block subject %}

{% endblock %}

{% block body_html %}

<strong>Вы успешно зарегистрировались на сайте <a href="http://e-dela.com">e-dela.com</a></strong><br/><br/>
Пожалуйста, откройте следующую ссылку, чтобы подтвердить email:<br/>

<a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a><br/><br/>
_____________<br/>
Если вы не регистрировались на этом сайте, просто проигнорируйте это письмо<br/>

С уважением,<br/>
Администрация сайта <a href="http://e-dela.com">e-dela.com</a>

{% endblock %}