<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-dela</title>
    <meta name="description" content="text">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    {% block stylesheets %}
        {% stylesheets
        'bundles/acmeedela/css/all.css'
        'bundles/acmeedela/css/style.css'filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@AcmeEdelaBundle/Resources/public/js/jquery/jquery-1.10.2.min.js'
        '@AcmeEdelaBundle/Resources/public/js/jquery/bootstrap.min.js'
        '@AcmeEdelaBundle/Resources/public/js/jquery/dateformat.js'
        '@AcmeEdelaBundle/Resources/public/js/jquery/dateformat-i18n.js'
        '@AcmeEdelaBundle/Resources/public/js/jquery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>
<noscript>
    <div>Javascript должен быть включен для корректного отображения страницы</div>
</noscript>
<div class="wrapper login-page">
    <div class="w1">
        {% block content %}
        {% endblock %}

    </div>
</div>

<img src="1+.jpg" class="bg">
</body>
</html>